<p>top-widgets works!</p>


<div class="widget-container">
    <div class="widget blue">
        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Locations</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon"><i class="fas fa-shopping-bag"></i>
        </div>
        <div class="value">
            <div class="top">30000</div>
            <div class="bottom">Shop</div>
        </div>
    </div>
    <div class="widget green">
        <div class="icon"><i class="fas fa-boxes"></i></div>
        <div class="value">
            <div class="top">2900</div>
            <div class="bottom">Product sold</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon"><i class="fas fa-money-bill"></i></div>
        <div class="value">
            <div class="top">42000</div>
            <div class="bottom">TotalRevenue</div>
        </div>
    </div>
    
    
</div>
