<!-- <p>register-customer works!</p> -->
<div class="container" style="margin: 0px 100px 20px; margin-left: 20%;">
  <div>
    <h2 style="text-align: center; color: green;">Register Customer</h2>
    <form (ngSubmit)="onRegister()">
      <div>
        <label for="name" style="color:black;">Name</label>
        <input type="text" [(ngModel)]="customer.Name" name="name" required />
      </div>
      <div>
        <label for="mobileNo"style="color:black;">Mobile Number</label>
        <input type="text" [(ngModel)]="customer.MobileNo" name="mobileNo" required />
      </div>
      <div>
        <label for="password" style="color:black;">Password</label>
        <input type="password" [(ngModel)]="customer.Password" name="password" required />
      </div>
      <div class="row">
        <div class="col-6"> 
          <button type="submit" class="btn btn-primary"(click)="onRegister()">Register</button></div>
        <div class="col-6 text-end">
          <button class="btn btn-secondary" (click)="login()">Login</button>
        </div>
      </div>
    </form>
  </div>

</div>


