<p>register-customer works!</p>
<div class="container" style="margin: 0px 100px 20px;">
  <div>
    <h2 style="text-align: center;">Register Customer</h2>
    <form (ngSubmit)="onRegister()">
      <div>
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="customer.Name" name="name" required />
      </div>
      <div>
        <label for="mobileNo">Mobile Number</label>
        <input type="text" [(ngModel)]="customer.MobileNo" name="mobileNo" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="customer.Password" name="password" required />
      </div>
      <div class="row">
        <div class="col-6"> 
          <button type="submit" class="btn btn-primary"(click)="onRegister()">Register</button></div>
        <div class="col-6 text-end">
          <button class="btn btn-secondary" (click)="login()">Login</button>
        </div>
      </div>
    </form>
  </div>

</div>


<!-- 
<div class="parent">
  <div class="container" id="container">
    <div class="form-container sign-up">
      <form>
        <h1>Create Account</h1>
        <span>Use your details for registration</span>
        <input type="text" name="name" [(ngModel)]="customer.Name" placeholder="Name" />
        <input type="text" name="mobile" [(ngModel)]="customer.MobileNo" placeholder="Mobile No" />
        <input type="password" name="password" [(ngModel)]="customer.Password" placeholder="Password" />
        <button (click)="onRegister()">Sign Up</button>
        <button (click)="goToLogin()">Go to Login</button>
      </form>
    </div>
  </div>
</div> -->