<p>order-buy works!</p>

<div class="container">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <p>Welcome to make Order or to buy now </p>
        </div>
        <!-- <div class="card-body">
            <form action="" >
                
                <div class="row mb-4" >
                    <div class="col-3">
                        <div class="row"><label for="">SaleId</label></div>
                        <div class="row">   <input type="number" style="width: 99%;"></div>
                     
                    </div>
                    <div class="col-3">
                        <div class="row"><label for="">CustomerId</label></div>
                      <div class="row">  <input type="number" style="width: 99%;"></div>  
                      
                    </div>
                    <div class="col-3">
                        <div class="row"><label for="">SaleDate"</label></div>
                        <div class="row"> <input type="text" style="width: 99%;"></div>
                     
                    </div>
                    <div class="col-3 ">
                        <div class="row"> <label for="">TotalInvoiceAmount</label></div>
                        <div class="row"><input type="number" style="width: 99%;"></div>
                    </div>
                    
                </div>
                <div class="row">
                  
                        <div class="col-md-3">
                            <div class="row"><label for="" >Discount</label></div>
                            <div class="row"> <input type="number" style="width: 99%;"></div>
                           
                        </div>
                        <div class="col-md-3">
                            <div class="row"><label for="">PaymentNarration</label></div>
                            <div class="row"> <input type="text" style="width: 99%;"></div>                           
                        </div>
                        <div class="col-md-3">
                            <div class="row"><label for="">DeliveryAddress1</label></div>
                            <div class="row"> <input type="text"style="width: 99%;"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="row"><label for="">DeliveryAddress2</label></div>
                            <div class="row">   <input type="text"style="width: 99%;"></div>
                         
                        </div>                 
                </div>
                
                <div class="row " style="margin-top: 2%;">
                    <div class="col-md-4">
                        <div class="row"><label for="">DeliveryCity</label></div>
                        <div class="row"> <input type="text" style="width: 99%;"></div>                           
                    </div>
                    <div class="col-md-4">
                        <div class="row"><label for="">DeliveryPinCode</label></div>
                        <div class="row"> <input type="text"style="width: 99%;"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="row"><label for="">DeliveryLandMark</label></div>
                        <div class="row">   <input type="text"style="width: 99%;"></div>
                     
                    </div> 
                </div>
                <div class="row" style="display: flex; margin-top: 2%; margin-left: 80%;">
                    <div class="col"> <button class="btn btn-primary" style="width: 90%; height: 100%;" >buy</button></div>
                </div>
                


            </form>
        </div> -->
    </div>
</div>

<div class="dropdown">
    <button>HoverResource</button>
    <div class="dropdown-content">
        <a rel="noopener" target="_blank" href="https://blog.hubspot.com/">Blog</a>
        <a rel="noopener" target="_blank" href="https://academy.hubspot.com/">Academy</a>
        <a rel="noopener" target="_blank" href="https://www.youtube.com/user/hubspot">YouTube</a>
        <a href="">Home</a>
    </div>
</div>


<!-- coded from codeppen -->
 <h1 style="text-align: center; color: goldenrod;"> coded from codeppen</h1>
 <div class="dropdown">
    <button class="btn">Menu</button>
    <div class="dropdown-container">
      <a href="">Home</a>
      <a href="">Lesson</a>
      <a href="">Service</a>
      <a href="">Contact</a>
      <a href="">Location</a>
    </div>
  </div>

  <!-- multipleselet menu droupdown menu -->
   <h1 style="text-transform: uppercase; text-decoration: double; text-align: center; color: grey;">multipleselet menu droupdown menu</h1>


   <!-- How to Make an HTML Dropdown Menu in Navbar -->
    <h1>How to Make an HTML Dropdown Menu in Navbar</h1>

    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li>
                <a href="#">Dropdown</a>
                <ul>
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
 <h1 style="text-transform: inherit; color: black;">Mazoezi binafsi</h1>
    
    <div class="container" style="margin-bottom: 120px;">

        <div class="row">
            <div class="col-6">
             <!--   Creates the drop down menu button that will hold the list of options -->
<div class="dropdown-menu">
    <a href="#" class="dropdown-btn">Drop Down Menu</a>
    <div class="dropdown-list">
  <!--    Each div with the submenu class has a nested menu -->
  <!--     Submenu 1 -->
      <div class="submenu">
        <a href="#">Level 1 - Item 1</a>
  <!--       Submenu list holds the option of the nested menu -->
        <div class="submenu-list">
          <a href="#">Level 2 - Item 1</a>
          <div class="submenu">
            <a href="#">Level 2 - Item 2</a>
            <div class="submenu-list">
              <a href="#">Level 3 - Item 1</a>
              <a href="#">Level 3 - Item 2</a>
            </div>
          </div>
          <a href="#">Level 2 - Item 3</a>
        </div>
      </div>
      <div class="submenu">
        <a href="#">Level 1 - Item 2</a>
        <div class="submenu-list">
          <a href="#">Level 2 - Item 1</a>
          <a href="#">Level 2 - Item 2</a>
        </div>
      </div>
         <div class="submenu">
        <a href="#">Level 1 - Item 3</a>
        <div class="submenu-list">
          <a href="#">Level 2 - Item 1</a>
          <a href="#">Level 2 - Item 2</a>
          <a href="#">Level 2 - Item 3</a>
          <a href="#">Level 2 - Item 4</a>
        </div>
      </div>
    </div>
  </div>
            </div>

           
        </div>
    </div>

    <!-- learninng is not easy way -->
 <p style="text-transform: capitalize; text-align: center; background-color: gray; color: white; width:20% ; margin-left: 40%;" >tuesday 15th october 2024 memorising on <br> the dropdown list</p>




 <div class="row">
    <div class="col-6">
        <div class="comb">
            <span class="material-symbols-outlined" style="width: 84px;">
                menu
                </span>
            <div class="comb-content" >
                <a rel="noopener" target="_blank" href="">Blog</a>
                <a rel="noopener" target="_blank" href="">Academy
                    <ul>
                        <li style="list-style-type: none;">
                            <a href="" >wewe</a>
                        </li>
                    </ul>
                </a>
                <a rel="noopener" target="_blank" href="">YouTube</a>
                <ul>
                    <li>
                        <a href="">Sweet</a>
                    </li>
                    <li>
                        <a href="">Sweta</a>
                    </li>
                </ul>
                <a href="">Home</a>
            </div>
        </div>
    </div>
    <div class="col-6 " style="padding-right: 150px;"> 
        <h1> another trial for more understanding</h1>
        <div class="wago">
            <i class="fas fa-trash">wanaman</i>
            <div class="pie">
                <ul>
                    <li>
                        <a href="">Home</a>
                        <!-- <div class="subcome">
                            <a href="">Until</a>
                            <ol>
                                <li>
                                    <a href="">About Us</a>
                                </li>
                                <li>
                                    <a href="">Order</a>
                                </li>
                                <li>
                                    <a href="">Argency Issue</a>
                                </li>
                            </ol>
                        </div> -->
                       
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Shareholders</a>
                    </li>
                    <li>
                        <a href="">Admin</a>
                    </li>
                    <li>
                        <div class="subcome">
                            <a href="">Until</a>
                            <ol>
                                <li>
                                    <a href="">About Us</a>
                                </li>
                                <li>
                                    <a href="">Order</a>
                                </li>
                                <li>
                                    <a href="">Argency Issue</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    
                       
                  
                </ul>
            </div>
        </div>
    </div>
 </div>


 <div style="margin-bottom: 900px;">

</div>