<h1 style="text-transform: uppercase; text-align: center">
  Product List on Market Brand
</h1>

<h1 style="text-align: center">Amazon Products</h1>
<!-- <img src="../../../assets/mzumbe.jpeg" alt="Mzumbe Image"> -->

<!-- <div class="container scroll-cont">
  <div class="row" style=" margin-left: 10%; max-width: 80%;">
    <div class="col-md-3 col-sm-6 mb-4" *ngFor="let pro of product" >
      <div class="card card-block" >
        <h5 class="product-name">{{ pro.productName }}</h5>
        <img [src]="getImageUrl(pro.productImageUrl)" alt="Product image" class="card-img-top">
        <div class="card-body">
          <p class="card-text product-description"><small>{{ pro.productDescription }}</small></p>
          <p><strong>{{ pro.productPrice | currency }}</strong></p>
        </div>
        <button class="btn btn-primary">buy now</button>
      </div>
    </div>
  </div>
</div> -->

 <!-- for the trial -->
<div style="text-align: right; text-transform: uppercase; text-decoration: calc();">
<h6>Still focusing to learn</h6>

</div>
<div class="container scroll-cont">
  <div class="row" style=" margin-left: 10%; max-width: 80%;">
    <div class="col-md-3 col-sm-6 mb-4" *ngFor="let pro of product" >
      <div class="card card-block" >
        <h5 class="product-name">{{ pro.productName }}</h5>
        <img [src]="getImageUr(pro)" (error)="onImageError(pro)"  alt="Product image" class="card-img-top">
        <div class="card-body">
          <p class="card-text product-description"><small>{{ pro.productDescription }}</small></p>
          <p><strong>{{ pro.productPrice | currency }}</strong></p>
        </div>
        <button class="btn btn-primary">buy now</button>
      </div>
    </div>
  </div>
</div>  





<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header text-center text-uppercase">
        This is my first image displayed
      </div>
      <div class="card-body text-center">
        <img src="https://dummyimage.com/400x300/00ff00/000" alt="Mzumbe Image" class="img-fluid">
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card">
      <div class="card-header text-center text-uppercase">
        This is my second image displayed
      </div>
      <div class="card-body text-center">
        <img [src]="fallbackImage" alt="Mzumbe" class="img-fluid">
      </div>
    </div>
  </div>
</div>
