<h1 style="text-transform: uppercase; text-align: center">
  Product List on Market Brand
</h1>

<h1 style="text-align: center">Amazon Products</h1>
<div class="container">
  <div
  style="
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196f3;
    padding: 10px;
    box-sizing: border-box;
    box-sizing: content-box;
    margin-left: 10px;
    
  "
>

    <div class="row" style=" background-color: rgba(255, 255, 255, 0.8);
    border: 1px 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-left: 10px;
    font-size: 30px;
    box-sizing: border-box;
    box-sizing: content-box;
    text-align: center;">
      <div class="col-md-4"  *ngFor="let product of product; let i = index">
        <div class="card mb-4" style="  width: 300px;
        border: 1px solid red;
        box-sizing: border-box;
        height: 400px;">
          <div 
            style="font-weight: bold; font-size: medium; color: green; text-transform: uppercase"
          >
            {{ product.productName }}
            <img
              [src]="product.productImageUrl"
              class="card-img-top"
              [ngClass]="{
                'resized-image': enlargedImageIndex !== i,
                'enlarged-image': enlargedImageIndex === i
              }"
              alt="{{ product.productName }}"
              (click)="toggleImageSize(i)"
            />
          </div>

          <div class="card-body" style="font-size: 15px;">
            <p class="card-text product-description">{{ product.productDescription }}</p>
            <p class="card-text">
              <strong>Price: ${{ product.productPrice }}</strong>
            </p>
          </div>
          <div class="row" style=" box-sizing: border-box; box-sizing: content-box;">
            <div class="col-4 text-center">
              <label>Order</label>
              <button class="btn btn-primary mt-2" (click)="openModal()">
                <i class="fas fa-shopping-cart"></i> Buy
              </button>
            </div>
            <div class="col-4 text-center">
              <label>Update</label>
              <button class="btn btn-secondary mt-2">
                <i class="fas fa-sync-alt"></i> Update
              </button>
            </div>
            <div class="col-4 text-center">
              <label>Cancel</label>
              <button class="btn btn-danger mt-2">
                <i class="fas fa-times"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
 
</div>
</div>

