.navbar {
    background-color: black; /* Set background to black */
  }
  
  .navbar-nav .nav-link {
    color: white; /* Set text color to white */
  }
  
  .navbar-nav .nav-link:hover {
    color: lightgray; /* Optional: Hover color */
  }
  
  //card navigatorble
  .card-link {
    text-decoration: none;
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .menu-item:hover{
    text-decoration: underline;
  }
  .dropdown-menu {
    background-color: #333;
    color: white;
    border: none;
  }
  
  .dropdown-menu a {
    color: white;
  }
  
  .dropdown-menu a:hover {
    // background-color: #555;
    background-color: rebeccapurple;
  }
  .scroll-cont{
    max-height: 600px; /* Set the maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 1rem;
    // border: 1px solid #ddd;
    border-radius: 8px;
  }