<div style="text-align:center">
  <h1>Welcome to Customer Registration</h1>
  <nav>
    <ul>
      <li><a routerLink="/order" routerLinkActive="active" href="">Register as new customer?</a></li>
    </ul>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active" href="">login in</a></li>
    </ul>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" href="">View product on the market </a></li>
    </ul>
  </nav>
  <!-- <app-register-customer></app-register-customer> -->
   <router-outlet></router-outlet>
</div>