<div class="container">
  <div class="login-container">
    <h2>Login</h2>
    <div class="container">
      <form (ngSubmit)="loginn()" #loginForm="ngForm">
        <div>
          <label for="userName">User Name</label>
          <input
            type="text"
            id="userName"
            [(ngModel)]="loginData.UserName"
            name="userName"
            required
          />
        </div>
        <div class="">
          <label for="userPassword">Password</label>
          <input
            type="password"
            id="userPassword"
            [(ngModel)]="loginData.UserPassword"
            name="userPassword"
            required
          />
        </div>
        <button type="submit">Login</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </form>
    </div>
    
  </div>
</div>
<p>login works!</p>

